# Naver Search API
# 발급: https://developers.naver.com/
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=your_naver_client_secret_here

# Kakao Local API
# 발급: https://developers.kakao.com/
KAKAO_REST_API_KEY=your_kakao_rest_api_key_here
